%header
  .main
    .main__upside
      .main__upside__icon
        favorite words note
      .main__upside__search
        -# form_tag入れる
        = fa_icon 'search', class: 'icon'
    .main__downside
      .main__downside__person
      .main__downside__genre
      .main__downside__user
