%header
  .main
    .main__upside
      .main__upside__name
      =link_to "/" do
        favorite words note
      .main__upside__search
        -# = form_tag path, method: :get, class:"main__upside__search__form" do
        -#   = text_field_tag :keyword, params[:keyword], class: "main__upside__search__form--folder", placeholder:"探したい人を入力してください"
        -#   = button_tag class:'main__upside__search--button'
        -#     = fa_icon 'search', class: 'main__upside__search--icon'
    .main__downside
      .main__downside__button
        .main__downside__button__content
        - if user_signed_in?
          .main__downside__button__content__logout
          =link_to destroy_user_session_path, method: :delete, class:'button' do
            .main__downside__button__content__logout-name
              log out
        - else
          .main__downside__button__content__in
            .main__downside__button__content__in__login
            =link_to new_user_session_path,method: :get, class:'button' do
              log in
            .main__downside__button__content__in__signin
              =link_to new_user_registration_path, class:'button' do
                sign in
          
        .main__downside__user
        -if user_signed_in?
          =link_to "users/#{current_user.id}" do
            =fa_icon 'user', class: 'icon'
