%header
  .main
    .main__upside
      .main__upside__name
      =link_to "/" do
        favorite words note
      .main__upside__search
        -# = form_tag path, method: :get, class:"main__upside__search__form" do
        -#   = text_field_tag :keyword, params[:keyword], class: "main__upside__search__form--folder", placeholder:"探したい人を入力してください"
        -#   = button_tag class:'main__upside__search--button'
        -#     = fa_icon 'search', class: 'main__upside__search--icon'
    .main__downside
      .main__downside__button
        .main__downside__button__content
        - if user_signed_in?
          .main__downside__button__content__logout
          =link_to destroy_user_session_path, method: :delete, class:'button' do
            .main__downside__button__content__logout-name
              log out
            -# .main__downside__button__content__post
            -# = link_to "投稿する",new_wordcreater_path, method: :get, class:'button' do
        -# - else
        -#   .main__downside__button__content__login
        -#   =link_to new_user_session_path,method: :post, class:'button' do
        -#     log in
        -#   .main__downside__button__content__signin
        -#   =link_to "新規登録", class:'button' do
        -#     sinnkitouroku

        .main__downside__user
        =link_to "/" , class:'button' do
          back
          -# =fa_icon 'user', class: 'icon'
