header {
    font-family: 'Fredoka One', cursive;
    position: relative;
    background-color: #99CC99;

    .main {
        width: 1020px;
        padding-left: 100px;
        padding-top: 30px;
        padding-bottom: 30px;

        &__upside {
            &__name {}
        }

        &__downside {
            &__button {
                display: flex;
                margin-top: 20px;

                &__content {
                    &__logout {
                        &__name {
                            padding-bottom: 10px;
                        }
                    }

                    &__post {
                        width: 120px;
                        height: 53px;
                    }

                    &__in {
                        display: flex;

                        &__login {
                            
                        }

                        &__signin {
                    
                    
                        }
                    }
                }
            }
        }
    }

    .button {
        display: flex;
        height: 30px;
        padding: 10px;
        margin-right: 10px;
        text-decoration: none;
        position: relative;
        z-index: 2;
        background-color: #333;
        border: 2px solid #333;
        color: #fff;
        line-height: 25px;
        font-size: 17px;
    }

    .button:hover {
        background-color: red;
        border-color: blue;
        color: blue;
    }

    .button::before,
    .button::after {
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #333;
    }

    .button::before {
        right: 0;
    }

    .button::after {
        left: 0;
    }

    .button:hover::before,
    .button:hover::after {
        width: 0;
        background-color: blue;
    }

    .icon {
        font-size: 50px;
        padding-bottom: 15px;
        color: #333;
        margin-left: 10px;
    }

    .icon:hover {
        border-color: blue;
        color: red;
        background-color: #99CC99;
    }

    .icon {
        font-size: 50px;
        padding-bottom: 15px;
        color: #333;
        margin-left: 10px;
    }

    .icon:hover {
        border-color: blue;
        color: red;
        background-color: #99CC99;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 30px;
    }
}
