@mixin indexcolorfont-size {
    color: grey;
    font-size: 30px;
    padding: 30px;
}

@mixin indexdisplay {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;

    // background: white;
    border-left: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(204, 28, 28, 0.22);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    height: auto;
    display: flex;
}
