@import "font-awesome";
@import "modules/_header.scss";
@import "reset";
@import "variable";
@import "clearfix";
@import "style";
@import "index";
@import "new";
@import "modules/_pencil.scss";
@import "show";
@import "user";
@import "userspage";
@import "modules/flash";

html {
    background: $mainBackGround;
    height:100%
}
body{
  height:100%
}
