// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage {
    font-family: $mainfont;

    &__title {
        font-size: 30px;
        color: white;
        padding: 20px;
    }

    &__note {
        @include indexcolorfont-size;

        // color: grey;
        // font-size: 30px;
        // padding: 100px;

        // margin: 0 auto;

        &__box {
            @include indexdisplay;

            // padding: 0.5em 1em;
            // margin: 2em 0;
            // color: #5d627b;
            background: white;

            // border-left: solid 5px #5d627b;
            // box-shadow: 0 3px 5px rgba(204, 28, 28, 0.22);
            // -webkit-transition: all 0.3s ease;
            // -moz-transition: all 0.3s ease;
            // -o-transition: all 0.3s ease;
            // transition: all  0.3s ease;
            // height: auto;
            // display: flex;

            &__word {
                margin: 10px;
            }
        }

        &__box:hover {
            background-color: yellow;
        }
    }

    a {
        text-decoration: none;
    }
}
